@font-face {
  font-family: roboto;
  src: url("../src/assets/font/RobotoSlab-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
  font-size: 62.5%;
}

h2 {
  font-size: 7rem;
  color: #333333;
  font-weight: 400;
  margin: 50px 0 20px 0;
}

h3 {
  color: #ffca41;
  font-size: 4rem;
  margin-bottom: 70px;
}

h4 {
  color: rgba(0, 0, 0, 0.5);
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 400;
}

p {
  font-size: 3rem;
}

a {
  color: white;
  font-size: 3rem;
  text-decoration: none;
  background-color: #ffca41;
  padding: 10px 50px;
  border-radius: 30px;
}
